<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ACPIPS2NubProxy</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>${MODULE_NAME}</string>
			<key>IOClass</key>
			<string>ACPIPS2NubProxy</string>
			<key>IONameMatch</key>
			<array>
				<string>PNP0303</string>
				<string>PNP030B</string>
				<string>PNP0320</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>LoadCustomKeymap</key>
			<true/>
			<key>Custom PS2 Map</key>
			<array>
				<string>76=64</string>
			</array>
		</dict>
		<key>VoodooWMIHotkeyDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>${MODULE_NAME}</string>
			<key>IOClass</key>
			<string>VoodooWMIHotkeyDriver</string>
			<key>IOProviderClass</key>
			<string>VoodooWMIController</string>
			<key>Platforms</key>
			<dict>
				<key>Tongfang</key>
				<dict>
					<key>WMI-UID</key>
					<string>1</string>
					<key>GUIDMatch</key>
					<string>ABBC0F72-8EA1-11D1-00A0-C90629100000</string>
					<key>WMIEvents</key>
					<array>
						<dict>
							<key>GUID</key>
							<string>ABBC0F72-8EA1-11D1-00A0-C90629100000</string>
							<key>NotifyID</key>
							<integer>210</integer>
							<key>EventData</key>
							<integer>26</integer>
							<key>ActionID</key>
							<integer>3</integer>
							<key>Note</key>
							<string>Fn+F4 =&gt; Toggle airplane mode</string>
						</dict>
						<dict>
							<key>GUID</key>
							<string>ABBC0F72-8EA1-11D1-00A0-C90629100000</string>
							<key>NotifyID</key>
							<integer>210</integer>
							<key>EventData</key>
							<integer>27</integer>
							<key>ActionID</key>
							<integer>3</integer>
							<key>Note</key>
							<string>Fn+F4 =&gt; Toggle airplane mode</string>
						</dict>
						<dict>
							<key>GUID</key>
							<string>ABBC0F72-8EA1-11D1-00A0-C90629100000</string>
							<key>NotifyID</key>
							<integer>210</integer>
							<key>EventData</key>
							<integer>240</integer>
							<key>ActionID</key>
							<integer>6</integer>
							<key>Note</key>
							<string>Fn+F6, F7 =&gt; Keyboard backlight</string>
						</dict>
						<dict>
							<key>GUID</key>
							<string>ABBC0F72-8EA1-11D1-00A0-C90629100000</string>
							<key>NotifyID</key>
							<integer>210</integer>
							<key>EventData</key>
							<integer>21</integer>
							<key>ActionID</key>
							<integer>7</integer>
							<key>Note</key>
							<string>Fn+F11 =&gt; Screen brightness down</string>
						</dict>
						<dict>
							<key>GUID</key>
							<string>ABBC0F72-8EA1-11D1-00A0-C90629100000</string>
							<key>NotifyID</key>
							<integer>210</integer>
							<key>EventData</key>
							<integer>20</integer>
							<key>ActionID</key>
							<integer>8</integer>
							<key>Note</key>
							<string>Fn+F12 =&gt; Screen brightness up</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0d1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>io.github.goshin.VoodooWMI</key>
		<string>1.0</string>
	</dict>
</dict>
</plist>
